.cache-main
.DS_Store
.classpath
.project
.settings
target
logs
bugPositions
*Test.java
*TestFL.java
.suspicious/
.temp/
log/
logs/
EMS/
EMSWN/
Facoy/
src/main/java/edu/lu/uni/serval/search/syntactic/fixer/actions.txt
